<div class="card">
	  	<div class="item item-divider row" ng-click="toggleHideFilter()">
	    	<div class="col col-80">
                <div class="button-icon icon ion-search"></div>
            </div>
            <div class=" col col-20 filterToggleIcon">
                <a class="button-icon icon {{filterIcon}}"></a>
            </div>
	  	</div>
	
	  	<label class="item item-input {{hideFilter}}">
	    	<span class="input-label">Zoek</span>
	    	<input type="text" ng-model="searchName">
	  	</label>
		<label class="item item-input item-select {{hideFilter}}">
		    <div class="input-label">
		      Volgorde:
		    </div>
		    <select ng-model="orderBy">
		      	<option value="title" selected>A-Z</option>
		      	<option value="-title">Z-A</option>
		    </select>
	  	</label>
		<label class="item item-input item-select {{hideFilter}}">
		    <div class="input-label">
		      Behaald:
		    </div>
		    <select ng-model="filterBehaald">
		    	<option value="">---</option>
		      	<option value="true">Behaald</option>
		      	<option value="false">Niet Behaald</option>
		    </select>
	  	</label>
</div>
<div class="card">
	  	<div ng-repeat="reward in rewards | filter:searchName | orderBy:orderBy | filter: {behaald: filterBehaald}">
			<div class="row">
                <div class="col col-80">
                    <h4>{{reward.title}}</h4>
                </div>
                <div class="col col-20 behaaldIcon">
                    <div class="button-icon icon ion-checkmark-round" ng-if="reward.behaald"></div>
                    <button class="button koopKnop icon ion-plus-round" ng-if="!reward.behaald"></button>
                </div>
			</div>
		</div>
</div>