<div class="row">
    <div class="col col-33"><img class="profileImage" src="img/profile.png"></img></div>
    <div class="col col-67">
        <h3 class="profileName">Bob van der Putten</h3>
    </div>
</div>

<div class="row">
    <div class="col">
        <h4 class="no_margin_bot">Aantal behaalde punten</h4>
        <h2 class="no_margin_top">43</h2>
    </div>
</div>

<div class="row">
    <div class="col">
        <h4>Voorkeurscherm doelen</h4>
        <ion-list>
            <ion-radio ng-model="choice" ng-value="'list'">Takenlijst</ion-radio>
            <ion-radio ng-model="choice" ng-value="'map'">Kaart</ion-radio>
        </ion-list>
    </div>
</div>

<div class="row">
    <div class="col col-20">
        <h4>Thema:</h4>
    </div>
    <div class="col col-67">
        <h4>Standaard</h4>
    </div>
    <div class="col">
        <button class="button button-icon icon ion-edit"></button>
    </div>
</div>

<div class="card">
            <div class="item item-divider">
                <div class="row">
                    <div class="col col-67">
                        <div class="button-icon icon ion-trophy"></div>
                    </div>
                    <div class="col col-33">
                        <div class="button-icon icon ion-calendar"></div>
                    </div>
                </div>
            </div>
            <div class="item">
                <div class="row">
                    <div class="col col-67">
                        <p>10 min. spelletje spelen in de les</p>
                    </div>
                    <div class="col col-33">
                        <p>14-05-2016</p>
                    </div>
                </div>
            </div>
            <div class="item">
                <div class="row">
                    <div class="col col-67">
                        <p>Thema Koning</p>
                    </div>
                    <div class="col col-33">
                        <p>03-04-2016</p>
                    </div>
                </div>
            </div>
            <div class="item">
                <div class="row">
                    <div class="col col-67">
                        <p>Thema Tony Hawk Pro Skater</p>
                    </div>
                    <div class="col col-33">
                        <p>01-04-2016</p>
                    </div>
                </div>
            </div>
            <div class="item">
                <div class="row">
                    <div class="col col-67">
                        <p>Thema Mad Max: Fury Road</p>
                    </div>
                    <div class="col col-33">
                        <p>29-02-2016</p>
                    </div>
                </div>
            </div><div class="item">
                <div class="row">
                    <div class="col col-67">
                        <p>Als eerste naar huis</p>
                    </div>
                    <div class="col col-33">
                        <p>01-01-2016</p>
                    </div>
                </div>
            </div>
</div>

<!--<div class="row">
    <div class="col">
        <h4>Reeds aangeschafte beloningen</h4>
        <div class="card">
            <div class="item item-divider">
                <div class="row">
                    <div class="col col-10">
                        <p>#</p>
                    </div>
                    <div class="col col-33">
                        <p>Beloning</p>
                    </div>
                    <div class="col col-20">
                        <p>Tijd</p>
                    </div>
                    <div class="col col-33">
                        <p>Goedkeuring</p>
                    </div>
                </div>
            </div>
            <div class="item">
                <div class="row">
                    <div class="col col-10">
                        <p>1</p>
                    </div>
                    <div class="col col-33">
                        <p>Spelletje</p>
                    </div>
                    <div class="col col-20">
                        <p>10 m</p>
                    </div>
                    <div class="col col-33">
                        <p>Bep van der Putten</p>
                    </div>
                </div>
            </div>
            <div class="item">
                <div class="row">
                    <div class="col col-10">
                        <p>2</p>
                    </div>
                    <div class="col col-33">
                        <p>Thema</p>
                    </div>
                    <div class="col col-20">
                        <p>Thema</p>
                    </div>
                    <div class="col col-33">
                        <p>---</p>
                    </div>
                </div>
            </div>
            <div class="item">
                <div class="row">
                    <div class="col col-10">
                        <p>3</p>
                    </div>
                    <div class="col col-33">
                        <p>Thema 2</p>
                    </div>
                    <div class="col col-20">
                        <p>Thema</p>
                    </div>
                    <div class="col col-33">
                        <p>---</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>-->