<!DOCTYPE html>
<html ng-app="zwengelApp">
    <head>
        <meta charset="utf-8" />
        <meta name="format-detection" content="telephone=no" />
        <meta name="msapplication-tap-highlight" content="no" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, target-densitydpi=medium-dpi, user-scalable=0" />
        <link rel="stylesheet" type="text/css" href="css/index.css" />
    	<link rel="stylesheet" href="ionic/ionic.css">
    	<link rel="stylesheet" href="css/progressbar.css">
    	<!--<script src="ionic/ionic.bundle.js"></script>-->
        <title>De Zwengel</title>
    </head>
    <body ng-controller="AllController as ac">
        <ion-header-bar class="bar-positive">
            <div ng-include="'views/header.html'"></div>
        </ion-header-bar>
        <ion-content>
            <div ng-view></div>
        </ion-content>
        <ion-footer-bar class="bar-dark">
            <div id="footerMenu" class="buttons">
                <div ng-click="ac.navDoelen()">Doelen</div>
                <div ng-click="ac.navBeloningen()">Beloningen</div>
                <div ng-click="ac.navProfiel()">Profiel</div>
            </div>
        </ion-footer-bar>
        <script src="js/app.js"></script>
    </body>
</html>
