<div class="card" ng-repeat="target in denc.targets | orderBy:'endDate':true" ng-click="denc.toDoel(target._id)">
    <div class="item item-divider item-{{target.doneColor}} item item-icon-right">
        <div ng-switch="target.state">
            <div ng-switch-when="finished">
                <i class="icon ion-thumbsup"></i>
            </div>
            <div ng-switch-when="stopped">
                <i class="icon ion-thumbsdown"></i> 
            </div>
        </div>
        <i class="{{target.mobileIcon}}"></i> {{target.title}}
    </div>
    <div class="item">
        {{target.description}}
    </div>
    <div ng-switch="target.state" class="item">
        <div ng-switch-when="doing">
            <b>Einddatum:</b> {{target.endDate | date:'dd-MM-yyyy'}}
        </div>
        <div ng-switch-when="finished">
            <b>Behaald:</b> {{target.endDate | date:'dd-MM-yyyy'}}
        </div>
        <div ng-switch-when="stopped">
            <b>Gestopt:</b> {{target.endDate | date:'dd-MM-yyyy'}}
        </div>
    </div>
</div>