<div class="row">
    <div class="col">
        <h3>{{dc.doel.title}}</h3>
        <h4>{{dc.doel.description}}</h4>
        <div class="progress-bar progress-bar-{{dc.doel.progressStatus}}" role="progressbar" aria-valuenow="20" aria-valuemin="0" aria-valuemax="100"
            style="width: {{dc.doel.percentage}}%; height: 20px;"></div>

    </div>
</div>

<div class="card" ng-repeat="step in dc.doel.steps | orderBy:'completionDate':true" ng-click="dc.toStap(dc.doel.steps.indexOf(step))">
    <div class="item item-divider item-{{step.doneColor}}">
        {{step.name}}
    </div>
    <div class="item item-icon-right">
        <i class="icon ion-information"></i> {{step.name}}
    </div>
</div>