<div class="card" ng-repeat="target in denc.targets | orderBy:'endDate':true" ng-click="denc.toDoel(target._id)">
    <div class="item item-divider item-{{target.doneColor}}">
        <i class="icon {{target.mobileIcon}}"></i> {{target.title}}
    </div>
    <div class="item item-icon-right">
        <i class="icon ion-information"></i> {{target.description}}
    </div>
    <div ng-switch="target.state" class="item item-icon-right">
        <div ng-switch-when="doing">
            <i class="icon ion-calendar"></i> 
            <b>Einddatum:</b> {{target.endDate | date:'dd-MM-yyyy'}}
        </div>
        <div ng-switch-when="finished">
            <i class="icon ion-calendar"></i> 
            <b>Behaald:</b> {{target.endDate | date:'dd-MM-yyyy'}}
        </div>
        <div ng-switch-when="stopped">
            <i class="icon ion-calendar"></i> 
            <b>Gestopt:</b> {{target.endDate | date:'dd-MM-yyyy'}}
        </div>
    </div>
</div>