<div class="row">
    <div class="col col-33"><img class="profileImage" src="img/profile.png"></img>
    </div>
    <div class="col col-67 profileInfo">
        <h3>{{pc.profile.firstname + ' ' + pc.profile.lastname}}</h3>
        <h2 class="no_margin_top">42 <i class="icon ion-card pointsIcon"></i></h2>
    </div>
</div>

<div class="card">
    <div class="item item-divider item-positive">
        <div class="row">
            <div class="col col-100">
                <div class="button-icon icon ion-gear-a"></div>
            </div>
        </div>
    </div>
    <label class="item item-input item-select">
        <div class="input-label">
            Voorkeurscherm
        </div>
        <select ng-model="pc.profile.preferences.preferencesScreen" ng-change="pc.updatePreferences(pc.profile.preferences)">
            <option value="list">Takenlijst</option>
            <option value="map">Kaart</option>
        </select>
    </label>
    <label class="item item-input item-select">
        <div class="input-label">
            Thema
        </div>
        <select ng-model="pc.profile.preferences.theme" ng-change="pc.updatePreferences(pc.profile.preferences)">
            <option value="default">Standaard</option>
            <option value="ridder">Ridder</option>
            <option value="koning">Koning</option>
            <option value="friet">Friet</option>
            <option value="smiles">Smiles</option>
        </select>
    </label>
    <label class="item item-input item-select">
        <div class="input-label">
            Tekst en icons
        </div>
        <select ng-model="pc.profile.preferences.style" ng-change="pc.updatePreferences(pc.profile.preferences)">
            <option value="text">Tekst</option>
            <option value="half">Half text/Half icoontjes</option>
            <option value="full">Icoontjes</option>
        </select>
    </label>
</div>


<div class="card">
    <div class="item item-divider item-positive">
        <div class="row">
            <div class="col col-67">
                <div class="button-icon icon ion-trophy"></div>
            </div>
            <div class="col col-33">
                <div class="button-icon icon ion-calendar"></div>
            </div>
        </div>
    </div>
    <div class="item">
        <div class="row">
            <div class="col col-67">
                <p>10 min. spelletje spelen in de les</p>
            </div>
            <div class="col col-33">
                <p>14-05-2016</p>
            </div>
        </div>
    </div>
    <div class="item">
        <div class="row">
            <div class="col col-67">
                <p>Thema Koning</p>
            </div>
            <div class="col col-33">
                <p>03-04-2016</p>
            </div>
        </div>
    </div>
    <div class="item">
        <div class="row">
            <div class="col col-67">
                <p>Thema Tony Hawk Pro Skater</p>
            </div>
            <div class="col col-33">
                <p>01-04-2016</p>
            </div>
        </div>
    </div>
    <div class="item">
        <div class="row">
            <div class="col col-67">
                <p>Thema Mad Max: Fury Road</p>
            </div>
            <div class="col col-33">
                <p>29-02-2016</p>
            </div>
        </div>
    </div>
    <div class="item">
        <div class="row">
            <div class="col col-67">
                <p>Als eerste naar huis</p>
            </div>
            <div class="col col-33">
                <p>01-01-2016</p>
            </div>
        </div>
    </div>
</div>
<div id="cardLogout" class="card">
    <button class="button button-block button-positive" ng-disabled="loginForm.$invalid" ng-click="pc.logout()">Uitloggen</button>
</div>