<div class="card">
    <div class="item item-divider item-{{sc.stap.doneColor}}">
        {{sc.stap.name}}       
    </div>
    <div class="item item-icon-right item-text-wrap">
        <i ng-if="sc.stap.completed" class="icon ion-thumbsup"></i>
        <i ng-if="!sc.stap.completed" class="icon ion-thumbsdown"></i>
        {{sc.stap.result}}
    </div>
    <div ng-if="sc.stap.description" class="item item-icon-right item-text-wrap">
        <i class="icon ion-information"></i>
        {{sc.stap.description}}
    </div>
    <div class="item item-icon-right">
        <i class="icon ion-calendar"></i>
        <b ng-if="sc.stap.completed">Behaald op: </b>{{sc.stap.completionDate | date:'yyyy-MM-dd'}}
    </div>
</div>